@namespace Blockchain.Client.Shared

<h5>Is playing: @IsPlaying</h5>

@if(IsPlaying == false)
{
    <button @onclick="Start">Start</button>
} 
else
{
    <h5>Score: @Score</h5>

    <h5>Next: @NextBlock.DisplayNumber</h5>

    <h5>Current: @CurrentBlock.DisplayNumber</h5>
}

<div @onkeydown="KeyDown">
    <Board CurrentBlock=@CurrentBlock />
</div>