@namespace Blockchain.Shared

@if(@StagingRow == true){
    <td class="aspect-square font-mono  border-top-2 flex items-center justify-center border-b-2 border-t-2 border-green-600 text-xl lg:text-3xl text-purple-600">
        @DisplayNumber
    </td>
} else {
    <td class="@(IsScored ? "animate-flashWhite" : "") aspect-square font-mono flex items-center justify-center border-2 border-green-600 text-xl lg:text-3xl text-purple-600">
        (@DisplayNumber)
    </td>
}

