@namespace Blockchain.Shared

<h5 class="border-2 border-dashed border-green-700 box-border flex font-mono lg:text-2xl md:text-base p-1 p-2 text-base text-center text-green-500 w-full">
    @Text
</h5>