@namespace Blockchain.Shared
@inherits LayoutComponentBase

<PageTitle>Blockchain</PageTitle>

<div class="flex h-screen">
    <main class="flex flex-col flex-grow">
        <article class="flex h-full">
            @Body
        </article>

        <div class="bg-slate-600 flex flex-row justify-between p-4">
            <a class="flex text-slate-200" href="kimbo.dev" target="_blank">kimbo.dev</a>
            <div class="flex text-slate-200">
                <LoginDisplay/>
            </div>
        </div>
    </main>
</div>