@namespace Blockchain.Shared

@switch (gameState)
{
    case GameState.Started:
        <h1>Score: @Score</h1>

        @if (comboAnimation)
        {
            <h1>Combo!</h1>
        }
        break;

    case GameState.NotStarted:
        break;

    case GameState.GameOver:
        <h5>Game Over</h5>
        break;

    default:
        throw new ArgumentOutOfRangeException();
}