@namespace Blockchain.Shared

@switch (GameState)
{
    case GameState.Started:
        var text = $"Score: {Score}";
        <Display Text="@text"/>

        @if (comboAnimation)
        {
            <h1>Combo!</h1>
        }
        break;

    case GameState.NotStarted:
        break;

    case GameState.GameOver:
        <h5>Game Over</h5>
        break;

    default:
        throw new ArgumentOutOfRangeException();
}